<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Posted</title>
</head>
<body>

<script>
    alert('{{output}}');
    setTimeout(function () {
        // after 0.5 seconds
        window.location = "/forum";
    }, 100)
</script>

</body>
</html>