<div class="center">
    <ul>
        <li><strong>Character Name</strong></li>
        <li><p>{{character_name}}</p></li>
        <li><strong>Health</strong></li>
        <li><p>{{character_health}}</p></li>
        <li><strong>Attack Damage</strong></li>
        <li><p>{{character_dps}}</p></li>
    </ul>
</div>